@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --primary-color: rgba(150, 187, 124, 1);
  --text-color: rgba(37, 43, 66, 1);
  --bg-coolor: rgba(221, 244, 255, 1);
  --second-text-color: rgba(115, 115, 115, 1);
  --white: rgba(255, 255, 255, 1);
}

* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--bg-coolor);
  width: 100%;
  height: 10vh;
  padding-top: 1%;
}

.brand-name {
  font: 700;
  color: var(--text-color);
  font-size: 24px;
  margin-left: 14%;
}

.navigator {
  display: flex;
  align-items: baseline;
  gap: 20%;
}
.nav {
  list-style: none;
  display: flex;
  gap: 10%;
}
.login {
  display: flex;
  align-items: flex-end;
  gap: 20%;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--primary-color);
  font-weight: 700;
}
a {
  font: 700;
  font-size: 15px;
  color: var(--second-text-color);
}
.button-header{
    width: 140px;
    height: 52px;
    border-radius: 5px;
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
}

.img-header{
    padding-left: 8%;
}
